.about-me {
    background-color: #CBEEF3;
    padding: 50px;
  }
  
  .about-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .about-me-image {
    flex: 0 0 200px;
    margin-right: 40px;
  }
  
  .about-me-image img {
    width: 100%;
    border-radius: 50%;
  }
  
  .about-me-text {
    flex: 1;
  }
  
  .about-me-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-me-text p {
    font-size: 16px;
    line-height: 1.5;
  }
  