.contact {
    background-color: #F49CBB;
    padding: 50px;
  }
  
  .contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form label {
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #DD2D4A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #880D1E;
  }
  