.content {
    background-color: #F26A8D;
    padding: 50px;
    color: #fff;
    text-align: center;
  }
  
  .content-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  