.footer {
  background-color: #F26A8D;
  padding: 20px;
  text-align: center;
}

.footer-text {
  color: #fff;
  margin-bottom: 10px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
