.navigation {
    background-color: #880D1E;
    padding: 10px;
    text-align: center;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navigation li a:hover {
    text-decoration: underline;
  }
  .navigation {
    background-color: #F49CBB;
    padding: 20px;
  }
  
  .navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navigation-item {
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navigation-item.active {
    color: #DD2D4A;
  }
  