.contact {
  background-color: #F49CBB;
  padding: 20px;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.contact label {
  font-weight: bold;
  color: #fff;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contact textarea {
  height: 150px;
}

.contact button {
  background-color: #DD2D4A;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #880D1E;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .contact form {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .contact input,
  .contact textarea {
    width: 100%;
  }
}
