.navigation {
  background-color: #F26A8D;
  padding: 20px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navigation-item.active {
  color: #DD2D4A;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .navigation {
    padding: 10px;
  }

  .navigation-item {
    margin-right: 10px;
    font-size: 14px;
  }
}
