.resume {
  background-color: #CBEEF3;
  padding: 20px;
}

.resume-download {
  margin-bottom: 20px;
}

.resume-list {
  list-style-type: disc;
  padding-left: 20px;
}

.resume-list-item {
  margin-bottom: 10px;
}

.resume-link {
  color: #333;
  text-decoration: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .resume {
    padding: 10px;
  }

  .resume-download {
    margin-bottom: 10px;
  }

  .resume-list {
    padding-left: 10px;
  }

  .resume-list-item {
    margin-bottom: 5px;
  }
}
